<div class="container-fluid" id="wrapper">

  <div class="forum col-12 col-md-6">

    <p id="notice"><%= notice %></p>
    <h3>Edit your Comment</h3>
    <%= render 'form', article_comment: @article_comment %>
  </div>

</div>