<div class="container-fluid" id="wrapper">

  <div class="forum col-12 col-md-6">

    <p id="notice"><%= notice %></p>


    <h3>Editing your reply</h3>

    <%= render 'form', forum_reply: @forum_reply %>

  </div>

</div>