<main class="container-fluid" id="hero-image">
  <div class="row" id="hero-textblock">
    <div class="col">
      <h1>Community</h1>
      <p id="hero-intro">Visit or join our communities to share ideas, <br>get answers to questions, and participate in <br>community activities.
        <br>You can even start a community of your own!</p>
      <%= link_to 'Browse Communities', communities_path, class: 'btn btn-primary m-' %>
      <%= link_to 'Create a Community', new_community_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</main>
