<div class="container-fluid" id="wrapper">

  <div class="forum col-12 col-md-8">

    <p id="notice"><%= notice %></p>

    <h3>New Event</h3>

    <%= render 'form', event: @event, path: community_events_path %>

  </div>

</div>