<div class="container-fluid" id="wrapper">

  <h3>Member Preferences</h3>

  <%= render 'form_edit', community_user: @community_user %>

  <div class="bottom-links">
    <%= link_to 'Back', my_communities_path %>
  </div>

</div>
