<div class="container-fluid" id="wrapper">

  <h3>Create Community</h3>

  <%= render 'form_new', community: @community %>

  <div class="bottom-links">
    <%= link_to 'Community Directory', communities_path %>
  </div>

</div>
