<div class="container-fluid" id="wrapper">

  <h3>Edit Preferences</h3>

  <%= render 'form', member: @member %>

  <div class="bottom-links">
    <%= link_to 'Show', @member %> |
    <%= link_to 'Back', members_path %>
  </div>

</div>
